---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

During my PhD, I had the opportunity to teach for 160 hours and to supervise or co-supervise five student internships.

## Teaching Activities

### Master's Level Courses
- **Fieldtrip: Study of Western Brittany and the Armorican Massif**  
  *Target Audience:* Certified teachers through the French Agrégation in Earth and Life Sciences, Paris-Saclay University.  
  *Description:* Field course through the magmatic and metamorphic terrains of Cadomian and Variscan age in the western coast of Brittany, with the aim of retracing the geological history of the region.

### Bachelor's Level Courses
- **Endogenous Petrography**  
  *Target Audience:* 3rd year of Earth and Biological Sciences Bachelor degree, Paris-Saclay University.  
  *Description:* Teaching the identification of magmatic and metamorphic minerals under the polarizing microscope and their geodynamic significance. Teaching the basics of volcanology and plutonism.

- **Magmatic and Metamorphic Petrography**  
  *Target Audience:* 3rd year of Earth Sciences Bachelor degree, Paris-Saclay University.  
  *Description:* Teaching the identification of magmatic and metamorphic minerals under the polarizing microscope and their geodynamic significance throught study case (e.g. Massif Central volcanism, Armorican Massif plutonism)

- **Fieldtrip: Study of Western Normandy and the Armorican Massif**  
  *Target Audience:* 1st year of Bachelor degree, Paris-Saclay University.  
  *Description:* Field course through the magmatic and sedimentary terrains of Proterozoic and Variscan age in the coast and innerland of Normandy, with the aim of retracing the geological history of the region and exploring the different aspects and fields of study in geology.

- **Exploring is Professional environment**  
  *Target Audience:* 1st year of Bachelor degree, Paris-Saclay University.  
  *Description:* To explore one’s career plan through a rigorous scientific approach i.e. literature review, experimentation including interviews with professionals, and discussion of the results toward the literature review.

- **Earth System, Climate, Energies**  
  *Target Audience:* 1st year of Bachelor degree, Paris-Saclay University.  
  *Description:* Teaching the basis of Earth Sciences e.g. sedimentology, tectonics, geodynamics.

### Undergraduate Research Supervision
- **March - May 2022:** Co-supervised A. Jouanne, 3rd year student of Earth Science Bachelor.
  *Project:* Petrographic and geochemical characterization of the vaugnerites of the Morvan.  
  *Duration:* 8 weeks  

- **March 2023:** Co-supervised two 3rd year students (A. Duvernois & M. Lecocq) of Earth Science Bachelor.  
  *Project:* Petrographic and geochemical characterization of the vaugnerites of the Morvan.  
  *Duration:* 4 weeks  

- **June - July 2023:** Supervised K. Coipel, 2nd year student of Earth Science Bachelor.  
  *Project:* Compare the lithological descriptions from geological maps established in the 1960s in the Morvan with field observations.  
  *Duration:* 8 week

- **March 2024:** Co-supervised three 3rd year students (K. Coipel, C. Pallois, R. Daugas) of Earth Science Bachelor.  
  *Project:* Petrographic and geochemical characterization of the Avallon and Saulieu granites from the Morvan.  
  *Duration:* 4 weeks

- **February - May 2024:** Co-supervised V. Gotti, 2nd year master in Metallogenic systems: geology and exploration.  
  *Project:* Petrographic, geochemical and temporal characterization of the acid volcanites of Morvan massif.  
  *Duration:* 13 weeks

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
